//Variables
$black: #000;
$white: #fff;
$thampy-green: #94c11f;

//reset 
ul, li, h1 {
	padding: 0 !important;
	margin: 0 !important;
}
ul, li {
	list-style: none;
}

//mixins
@mixin background-image($image) {
  	background: url(../../images/#{$image}.jpg) no-repeat center center;
	background-size: cover;
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin background-opacity($color, $opacity) {
    background: $color;
    background: rgba($color, $opacity);
}

// home page styling

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

.home {
	&__banner video {
		
	}
	&__work-section {
		color: $white; 
		&--work1 {
			display: table-cell;
			vertical-align: middle;
			hr,p {
				position: relative;
				bottom: 40px;
				opacity: 0;
			}
		}
	}
	&__work-section li {
		@include background-image("work-temporary");
		height: 300px;
		display: table;
		div {
			@include background-opacity($thampy-green, 0.0);
			@include transition(all 0.65s ease-in-out);
		}
		&:last-child {
			@include background-image("work-hero-temporary");
		}
		&:hover > div {
			@include background-opacity($thampy-green, 0.57);
			hr,p {
			opacity: 1;
			bottom: 0;
			@include transition(all 0.65s ease-in-out);
			}
		}
	}
	&__about {
		@include background-image("about-temporary");
		height: 440px;
	}
	&__tabs li {
		@include background-image("work-temporary");
		height: 300px;
	}
}